extends layout

append css
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="hub/styles.css")

append content
    #app

append js
    script(src="src/hub.js")