extends layout

append css
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")

    style.
        html,
        body {
            font-family: 'Roboto', sans-serif;
        }

append content
    #app

append js
    script(src="lib/hub.js")